<form class="edit-task-container form">
    <div>
        <p class="p">Name of Task:</p>
        <textarea id="name">{{name}}</textarea>
    </div>
    <div>
        <p class="p">Description of Task:</p>
        <textarea id="description">{{description}}</textarea>
    </div>
    <div>
        <p class="p">Priority of Task:</p>
        <select name="priority "id="priority">
            <option value="true" {{#if priority}}selected{{/if}}>High Priority</option>
            <option value="false" {{#unless priority}}selected{{/unless}}>Low Priority</option>
        </select>
    </div>
    {{!-- <div>
        <p>progress of task</p>
        <select name="progress "id="progress">
            <option>{{progress}}</option>
            <option value="1" {{is_value_eq progress 1}}>Not started</option>
            <option value="2" {{is_value_eq progress 2}}>In progress</option>
            <option value="3" {{is_value_eq progress 3}}>Completed</option>
        </select>
    </div> --}}
    <div>
        <p class="p">Due Date of Task:</p>
        <input type="date" id="due-date" value="{{format_html_date due_date}}"></input>
    </div>
    <br>
    <div>
        <button class="update-button" data-id="{{id}}">EDIT</button>
    </div>
</div>

<script src="/js/priorities.js"></script>
<script src="/js/progress.js"></script>
<script src="/js/update.js"></script>