
<div>
    <h4>{{task.name}}</h4>
</div>
<div>
    <p>{{task.description}}</p>
</div>
<div>
    <p>{{task.priority}}</p>
</div>
<div>
    <p>{{format_date task.due_date}}</p>
</div>
<div>
    <button class="delete-button" data-id="{{task.id}}">DELETE</button>
    <button class="edit-button" data-id="{{task.id}}">UPDATE</button>
</div>

<script src=" /js/priorities.js"></script>